<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
	<h1>Select Project Member</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Select</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${members}">
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td>
						<form method="POST"
							th:action="@{/task/{taskid}/assignTo/{userid}(taskid=${task.id}, userid=${user.id})}">
							<button type="submit" name="submit" value="value">ASSIGN</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>