<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
	<h1 th:text="${task.name}"></h1>
	<h4 th:text="${task.description}" style="color: gray"></h4>
	<h4 th:text="${task.completed}" style="color: red"></h4>
	<div>
	<div>
		<a th:href="'/task/' + ${task.id} + '/update'">UPDATE</a>
	</div>
	<h3>Tags</h3>
	<ul>
		<li th:each="tag : ${task.tags}">
			<div th:text="${tag.name}"></div>
			<div th:text="${tag.color}"></div>
		</li>
	</ul>
	<h3>Comments</h3>
	<ul>
		<li th:each="comment : ${task.comments}">
			<div th:text="${comment}"></div>
		</li>
	</ul>
	</div>
	</body>
</html>