<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
	<h1>Update Task</h1>
	<form id="updateTaskForm" th:action="@{/task/update/{path}(path=${taskForm.id})}"
		th:object="${taskForm}" method="POST">
		<table>
			<tr>
				<td><label for="taskNameInput">Task Name</label></td>
				<td><input id="taskNameInput" type="text" placeholder="NAME" th:value="*{name}"
					required th:field="*{name}" /></td>
			</tr>
			<tr>
				<td><label for="descriptionInput">Description</label></td>
				<td><input id=descriptionInput type="text"
					placeholder="DESCRIPTION" th:value="*{description}" required th:field="*{description}" /></td>
			</tr>
			<tr>
				<td><label for="compInput">Complete</label></td>
				<td><input id=compInput type="checkbox"
					th:value="*{completed}" required th:field="*{completed}" /></td>
			</tr>
			<tr>
				<td><button type="submit">Update</button></td>
			</tr>
		</table>
	</form>
</body>
</html>